<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>936448163269-3khvaettdog3le8fkfnb3pbs9l318dou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936448163269-3khvaettdog3le8fkfnb3pbs9l318dou</string>
	<key>API_KEY</key>
	<string>AIzaSyAA1rjxQVFn5uRKynRaGrgTa8TSfgYRGBM</string>
	<key>GCM_SENDER_ID</key>
	<string>936448163269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtb4.lichcupdien</string>
	<key>PROJECT_ID</key>
	<string>lich-cup-dien</string>
	<key>STORAGE_BUCKET</key>
	<string>lich-cup-dien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936448163269:ios:bfca985e422dff7f</string>
	<key>DATABASE_URL</key>
	<string>https://lich-cup-dien.firebaseio.com</string>
</dict>
</plist>